<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Participants
  </div>

  <ul class="list-group list-group-flush">
    <% @event.participants.each do |member| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/members/<%= member.id %>">
          <%= member.email %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
