<form action="/create_attendance_from_event" method="post">

  <input type="hidden" name="member_id" value="<%= current_member.id %>">

  <input type="hidden" name="event_id" value="<%= @event.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create attendance
  </button>
</form>
