<!-- Validation failure messages -->
<% if @interest.present? %>
  <% if @interest.errors.any? %>
    <% @interest.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new interest
</h1>


<hr>

<!-- Form interest start -->
<form action="/create_interest" method="post">
<!-- Form interest end -->

  <!-- Label and input for member_id start -->
  <div class="form-group">
    <label for="member_id">
      Member
    </label>

    <!-- Input for member_id start -->
    <%= select_tag(:member_id, options_from_collection_for_select(Member.all, :id, :email, @interest.member_id), :class => "form-control") %>
    <!-- Input for member_id end -->
  </div>
  <!-- Label and input for member_id end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <!-- Input for event_id start -->
    <input type="text" id="event_id" name="event_id" class="form-control" value="<%= @interest.event_id %>">
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create interest
  </button>
</form>

<hr>

<a href="/interests">
  Go back
</a>
