<h1>
  Edit attendance #<%= @attendance.id %>
</h1>

<hr>

<form action="/update_attendance/<%= @attendance.id %>" method="post">


  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :name, @attendance.event_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update attendance
  </button>
</form>

<hr>

<a href="/attendances">
  Go back
</a>
