<h1>
  Edit genre #<%= @genre.id %>
</h1>

<hr>

<!-- Form genre start -->
<form action="/update_genre/<%= @genre.id %>" method="post">
<!-- Form genre end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @genre.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update genre
  </button>
</form>

<hr>

<a href="/genres">
  Go back
</a>
