<h1>
  Edit genre #<%= @genre.id %>
</h1>

<hr>

<form action="/update_genre/<%= @genre.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @genre.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update genre
  </button>
</form>

<hr>

<a href="/genres">
  Go back
</a>
