<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Interests

    <a data-toggle="collapse" href="#member_interests_new_form">
      Add interest
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @member.interests.each do |interest| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/interests/<%= interest.id %>">
          <%= interest.member_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
