<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Events

    <a data-toggle="collapse" href="#member_events_new_form">
      Add event
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @member.events.each do |event| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/events/<%= event.id %>">
          <%= event.name %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
